.navbar{
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    max-height: 80px;
}
.navbar-links li{
    margin: 0 10px;
    border-right: 1px solid #ffffff;
    padding-right: 20px;
}
.navbar-links li:last-child{
    margin-right: 0;
    border-right: none;
    padding-right: 20px;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    color:#292074;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    font-size: 24px;
}
.image1{
    height: 100px;
    width: 130px;
  margin-top: -18px;
  }

.navbar-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.navbar-links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar-links a:hover{
    font-size: 20px;
    color:#01b5ef;
}
.navbar-top{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 999;
}
.navbar-bottom{
    position: fixed;
    top:80px;
    left:0;
    width:100%;
    z-index: 998;
    background-color: #0c3769;
    
}