.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #dde0e1;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form, .register-form{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 4rem;
  border-radius: 10px;
  min-height: 500px;
  min-width:500px;
  justify-content: center;
  box-shadow: rgba(0,0,0,0.5) 0px 5px 15px 0px;
}
label{
  text-align: left;
  padding: 0.5rem 0;
  font-weight: bolder;
}
input{
  margin: 0.5rem 0;
  border-radius: 5px;
}

.image1{
  height: 80px;
  width: 100px;
  padding: 0.5rem 0;
  margin-bottom: 5px;
}

.btn-link{
  text-decoration: none;
  text-align: left;
  font-size:12px;
  font-weight: bolder;
  margin-top: 0.5rem;
  color:#292074
}
.heading1{
  text-align: left;
  font-size:18px;
  font-weight: bolder;
}

.heading2{
  text-align: left;
  font-size:14px;
  color:#afaeb9;
}

.password-input{
  position:relative;
}
.password-toggle{
  position: absolute;
  top:50%;
  right:0.5rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline:none;
  cursor:pointer;
}
.linking{
  text-decoration: none;
  color:#292074
}